*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --first-color: #fff;
  --second-color: #000;
  --third-color: #745cf9;
}
html{
  font-size: 10px;
  font-family: sans-serif;
}
.App{
  width: 100%;
  height: auto;
}
